* {
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
}

.container {
    position: relative;
    margin: 200px auto;
    width: 200px;
    height: 200px;
    perspective: 500px;
}

.cube {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -100px;
    -webkit-transform-style: preserve-3d;
}

.side {
    position: absolute;
    width: inherit;
    height: inherit;
    border: 5px solid #fff;
    font: normal 60px Arial;
    text-align: center;
    line-height: 300px;
    color: #fff;
    transform-origin: 50% 50% -100px;

}

.front {

    background: #4cadeb;
    transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
    animation: spin1 10s infinite linear;
}

.back {
    background: #7ac2f0;
    animation: spin2 10s infinite linear;
}

.right {
    background: #a8d7f5;
    animation: spin3 10s infinite linear;
}

.left {
    background: #eb8a4c;
    animation: spin4 10s infinite linear;
}

.top {
    background: #f0a87a;
    animation: spin5 10s infinite linear;
}

.bottom {
    background: #9b9b9b;
    animation: spin6 10s infinite linear;
}
@keyframes spin1 {
    to {
        transform: perspective(600px) rotateX(360deg) rotateY(450deg) rotateZ(0deg);
    }
}
@keyframes spin2 {
    0% {
        transform: perspective(600px) rotateX(0deg) rotateY(270deg) rotateZ(0deg);
    }
    100% {
        transform: perspective(600px) rotateX(360deg) rotateY(630deg) rotateZ(0deg);
    }
}
@keyframes spin3 {
    0% {
        transform: perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: perspective(600px) rotateX(450deg) rotateY(0deg) rotateZ(-360deg);
    }
}
@keyframes spin4 {
    0% {
        transform: perspective(600px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: perspective(600px) rotateX(270deg) rotateY(0deg) rotateZ(360deg);
    }
}
@keyframes spin5 {
    0% {
        transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: perspective(600px) rotateX(360deg) rotateY(360deg) rotateZ(0deg);
    }
}
@keyframes spin6 {
    0% {
        transform: perspective(600px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    }
    100% {
        transform: perspective(600px) rotateX(360deg) rotateY(540deg) rotateZ(0deg);
    }
}


