.mainContainerStyle {
    margin: 160px;
    align-content: center;
    animation: star 20s ease-in-out infinite;
}
body{
    align-content: center;
    transform: scale(1)
}
#star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: #ff97a1;
    width: 0px;
    height: 0px;
    opacity: 0.7;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #a97bff;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    transition: transform 0s;
    animation: star1 5s ease-in-out infinite;
}
#star-five:before {
    opacity: 0.5;
    border-bottom: 80px solid #91ffbf;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    animation: star2 5s ease-in-out infinite;


}
#star-five:after {
    opacity: 0.5;
    position: absolute;
    display: block;
    color: #34ff89;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffadd7;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
    animation: star3 5s ease-in-out infinite;

}




@keyframes star{
    0% {
        transform: scale(1);
        margin: 40rem;
    }
    20% {
        transform: scale(2);
        margin: 30rem;

    }
    40% {
        transform: scale(1);
        margin: 20rem;
    }

    60% {
        transform: scale(2);
        margin: 20rem;
    }

    80% {
        transform: scale(1);
        margin: 20rem;
    }
    90%,100% {
        transform: scale(1);
        margin: 20rem;
    }
}

@keyframes star1{
    0% {
        border-bottom: 70px solid #b2ffdc;


    }
    20% {
        border-bottom: 70px solid #936cdf;

    }

    40% {
        border-bottom: 70px solid #e2b9c4;
    }

    60% {
        border-bottom: 70px solid #ce81ff;
    }

    80% {
        border-bottom: 70px solid #936cdf;

    }
    90%,100% {
        border-bottom: 70px solid #e2b9c4;
    }
}
@keyframes star2{
    0% {
        border-bottom: 70px solid #b2ffdc;


    }
    20% {
        border-bottom: 70px solid #57dfa2;

    }

    40% {
        border-bottom: 70px solid #a5dfe2;
    }

    60% {
        border-bottom: 70px solid #49529f;
    }

    80% {
        border-bottom: 70px solid #57dfa2;

    }
    90%,100% {
        border-bottom: 70px solid #a5dfe2;
    }
}
@keyframes star3{
    0% {
        border-bottom: 70px solid #b2ffdc;


    }
    20% {
        border-bottom: 70px solid #57dfa2;

    }

    40% {
        border-bottom: 70px solid #a5dfe2;
    }

    60% {
        border-bottom: 70px solid #49529f;
    }

    80% {
        border-bottom: 70px solid #57dfa2;

    }
    90%,100% {
        border-bottom: 70px solid #a5dfe2;
    }
}