
body {
    overflow: hidden;
}


.side {
    /*position: relative;*/
    margin: 10rem;
    background: #a8d7f5;
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    font: normal 60px Arial;
    text-align: center;
    line-height: 200px;
    color: #fff;
}


div {
    transition: transform 2s;
    transition-timing-function: linear;
}

div:hover {
    transform:  rotateX(45deg) ;
}



