.container {
    width: 30rem;
    display: flex;
    margin:0 10rem ;
}

.item {
    padding: 3rem 10rem;
    background-color: rgba(239, 121, 134, 0.35);
}
.item2{
    background-color: rgba(239, 177, 136, 0.26);
    padding: 3rem 20rem;
}
.item3 {
    padding: 3rem 30.25rem;
    background-color: rgba(190, 239, 161, 0.39);
}
.item4{
    background-color: rgba(202, 239, 233, 0.63);
    padding: 3rem 15rem;
}
.item5{
    background-color: rgba(115, 119, 239, 0.32);
    padding: 3rem 15rem;
}
body{
    background-color: rgba(219, 255, 229, 0.33);
}
.main{
    border:0.23rem solid #500504 ;
    opacity: 100%;

}
