body {
    margin: 0;
}
.preloader {
    opacity: 80%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #070100;
    z-index: 1001;
    width: 100%;
}
.preloader__image {
    position: relative;
    opacity: 80%;
    top: 10%;
    left:35%;
    width: 600px;
    height: 600px;
    text-align: center;
    background: url('resource/image/a.gif') no-repeat 50% 50%;
}
.loaded_hiding.preloader {
    transition: 6s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}

