.gallery-container {
    padding: 25rem;
}

.gallery-pills {
    margin: 1rem;
    right: 4rem;
    width: 250px;
    height: 325px;
    display: inline-block;
    box-shadow: 0 0 0 2px #00f9f9, 0 0 0 3px #fc0201, 0 0 0 5px #474347;
}

.buttonC {
    position: fixed;
    top: 0;
    right: 0;
}

.buttonR {
    position: fixed;
    right: 0;
    top: 50%;
}

.buttonL {
    position: fixed;
    left: 0;
    top: 50%;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    height: 100%;
    background-size: cover;
    background-position: top center;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-weight: 200;
    background-image: url('resource/image/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-size: cover;*/
    text-align: center;
    max-width: 100%;
}