
@font-face{
    font-family:'Lato-Regular';
    src: url('resource/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'Lato-Thin';
    src: url('resource/fonts/Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'Lato-Hairline';
    src: url('resource/fonts/Lato-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'Monsterrat-Bold';
    src: url('resource/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family:'Monsterrat-Bold',sans-serif;
    font-size: 35rem;
}